<section class="row" ng-controller="WorkCtrl">
  <div class="col-lg-12 col-lg-12 col-sm-12 col-xs-12" ng-show="assignment">
    <form novalidate role="form" ng-submit="postAssignment();">
      <h1>{{assignment.job.info.title}}</h1>

      <div class="description" ng-bind-html="assignment.job.info.description"></div>

      <input type="hidden" ng-model="work[id]" ng-value="{{assignment.id}}"  />

      <div class="input-fields form-group" ng-repeat="field in assignment.job.info.input_fields">
        <label>{{field.Description}}</label>

        <div class="animate-switch-container" ng-switch on="field.Type">
          <div class="animate-switch" ng-switch-when="image">
            <img ng-src="{{field.Value}}" class="img-thumbnail img-responsive" />
          </div>

          <div class="animate-switch" ng-switch-when="hidden">
            <input type="hidden" value="{{field.Value}}" ng-name="{{field.Id}}" />
          </div>

          <div class="animate-switch" ng-switch-default>
            {{field.Value}}
          </div>
        </div>
      </div>

      <div class="output-fields form-group">
        <label>{{assignment.job.output.Description}}</label>

        <div class="animate-switch-container" ng-switch on="assignment.job.output.Type">
          <div class="animate-switch" ng-switch-when="checkbox">
            <input type="submit" ng-name="{{assignment.job.output.Id}}" ng-model="work[assignment.job.output.Id]" class="btn btn-success btn-lg btn-block" ng-value="'Yes'" ng-click="submitCheckbox('yes');""/>
            <input type="submit" ng-name="{{assignment.job.output.Id}}" ng-model="work[assignment.job.output.Id]" class="btn btn-danger btn-lg btn-block" ng-value="'No'" ng-click="submitCheckbox('no');"/>

            <a href="#/skip" class="btn btn-warning btn-block">Skip</a>
          </div>

          <div class="animate-switch" ng-switch-when="long_text">
            <textarea ng-name="{{assignment.job.output.Id}}" ng-model="work[assignment.job.output.Id]" class="form-control"></textarea>
            <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block" />
            <a href="#/skip" class="btn btn-warning btn-block">Skip</a>
          </div>

          <div class="animate-switch" ng-switch-default>
            <input type="text" ng-name="{{assignment.job.output.Id}}" ng-model="work[assignment.job.output.Id]" class="form-control" />
            <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block" />
            <a href="#/skip" class="btn btn-warning btn-block">Skip</a>
          </div>
        </div>
      </div>

    </form>
  </div>
</section>
